<html>  
  <style type="text/css">  
    body { color: #edf; background: #20b2aa; padding: 0 5em; margin:0 }  
    h1 { padding: 2em lem; background:#675 }  
    h2 { color: #bf8; border-top: 1px dotted #fff; margin-top: 2em }  
    p { margin: lem 0 }  
  </style>  
  <body>  
     
    {% block NodeTable %}  
    {% endblock %}  
    
    {% block scTem %}  
    {% endblock %}  
    
    {% block scIns %}  
    {% endblock %}  
    
    {% block scBinding %}  
    {% endblock %}  
  </body>  
</html>