<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title blue bigger">
                    Create User
                </h4>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('account.do_create_account') }}" class="form-horizontal ui-form" method="post">
                    <div class="form-group">
                        <label for="password" class="control-label required">UserName：</label>
                        <div class="control-input">
                            <input type="text" name="username"
                                   class="form-control required"
                                   placeholder="What is your name"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="selectVdc" class="control-label required">Select VDC：</label>
                        <div class="control-input">
                            <select name="vdc">
                                {% for vdc in VDC_DICT.keys() %}
                                    <option value="{{ vdc }}">{{ VDC_DICT[vdc] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" id="submit" class="btn btn-primary">
                            <i class="icon-save icon-large"></i>Submit
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="icon-arrow-left icon-large"></i>Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>